<div class="pad-inline txt-align-center center margin-block-double txt-subtle txt-small">
  <%= render "layouts/shared/colophon" %>.
  Need help? <%= mail_to "support@fizzy.do", "Send us an email", class: "txt-link" %>.
</div>
